.yearGOTY {
    color: #C0C0C0;
    padding: 1px;
    text-align: center;
    font-weight: bold !important;
    font-size: 2em !important;
    font-family: 'psn', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.nameGOTY {
    color: #C0C0C0;
    padding-bottom: 1px;
    text-align: center;
    font-weight: bold !important;
    font-size: 1.15em !important;
    font-family: 'psn', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.userGamesTitle {
    color: #C0C0C0;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold !important;
    font-size: 1em !important;
    font-family: 'psn', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.userGamesNumber {
    color: #C0C0C0;
    padding: 1px;
    text-align: center;
    font-weight: bold !important;
    font-size: 1.5em !important;
    font-family: 'psn', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}